AI con RAG da MySQL.json
{
  "name": "AI con RAG da MySQL",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{$json.message}}\"\n}",
        "options": {}
      },
      "id": "4820513a-6d61-4a6a-a505-be2175d9935b",
      "name": "HTTP Request - Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3504,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "e75f25ef-07d4-427e-b7b5-6f43e39ab984",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1184,
        -80
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Calcola similarità coseno ottimizzato per documenti grossi\nconst queryEmbedding = $('HTTP Request - Generate Query Embedding').first().json.embedding;\nconst documents = $input.all();\nconst originalQuery = $('Webhook - Interroga AI').first().json.body.message;\n\nconsole.log(`Processando ${documents.length} documenti con query: \"${originalQuery}\"`);\n\n// Funzione ottimizzata per similarità coseno\nfunction cosineSimilarity(vecA, vecB) {\n  if (!Array.isArray(vecA) || !Array.isArray(vecB)) {\n    console.warn('Vettori non sono array');\n    return 0;\n  }\n  \n  if (vecA.length !== vecB.length) {\n    console.warn(`Dimensioni diverse: ${vecA.length} vs ${vecB.length}`);\n    return 0;\n  }\n  \n  let dotProduct = 0;\n  let magnitudeA = 0;\n  let magnitudeB = 0;\n  \n  // Calcolo ottimizzato in un solo loop\n  for (let i = 0; i < vecA.length; i++) {\n    const a = vecA[i] || 0;\n    const b = vecB[i] || 0;\n    dotProduct += a * b;\n    magnitudeA += a * a;\n    magnitudeB += b * b;\n  }\n  \n  const magnitude = Math.sqrt(magnitudeA) * Math.sqrt(magnitudeB);\n  return magnitude > 0 ? dotProduct / magnitude : 0;\n}\n\n// Pre-filtra documenti con embedding validi\nconst validDocuments = documents.filter(doc => {\n  const embedding = doc.json.stored_embedding;\n  return Array.isArray(embedding) && \n         embedding.length === queryEmbedding.length && \n         embedding.length > 0;\n});\n\nconsole.log(`Documenti validi per il calcolo: ${validDocuments.length}/${documents.length}`);\n\n// Calcola similarità solo per documenti validi\nconst documentsWithSimilarity = validDocuments.map(doc => {\n  const storedEmbedding = doc.json.stored_embedding;\n  const similarity = cosineSimilarity(queryEmbedding, storedEmbedding);\n  \n  return {\n    ...doc.json,\n    similarity: similarity,\n    // Aggiungi metadata utili per il debug\n    doc_length: doc.json.content?.length || 0,\n    chunk_info: doc.json.chunk_index !== undefined ? \n      `${doc.json.chunk_index + 1}/${doc.json.total_chunks}` : 'single'\n  };\n});\n\n// Ordina per similarità (più efficiente con sort nativo)\ndocumentsWithSimilarity.sort((a, b) => b.similarity - a.similarity);\n\n// Soglia dinamica basata sulla distribuzione\nconst similarities = documentsWithSimilarity.map(d => d.similarity);\nconst avgSimilarity = similarities.reduce((a, b) => a + b, 0) / similarities.length;\nconst threshold = Math.max(0.2, avgSimilarity * 0.7); // Soglia dinamica\n\n// Prendi top documenti con soglia intelligente\nconst topDocuments = documentsWithSimilarity\n  .slice(0, 5) // Più documenti per documenti grossi\n  .filter(doc => doc.similarity > threshold);\n\nconsole.log(`Top documents (soglia: ${threshold.toFixed(3)}):`);\nconsole.log(topDocuments.map(d => ({\n  title: d.title?.substring(0, 50) + '...',\n  similarity: d.similarity.toFixed(4),\n  chunk: d.chunk_info\n})));\n\n// Gestisci caso senza risultati rilevanti\nif (topDocuments.length === 0) {\n  console.log('Nessun documento sopra la soglia, uso i top 2 comunque');\n  topDocuments.push(...documentsWithSimilarity.slice(0, 2));\n}\n\n// Prepara contesto ottimizzato\nconst context = topDocuments.map((doc, idx) => {\n  // Limita lunghezza contenuto per evitare prompt troppo lunghi\n  const maxContentLength = 1500;\n  const content = doc.content?.length > maxContentLength ? \n    doc.content.substring(0, maxContentLength) + '...' : \n    doc.content;\n  \n  return `[Documento ${idx + 1}] ${doc.title}\nContenuto: ${content}\nRilevanza: ${(doc.similarity * 100).toFixed(1)}%\n${doc.chunk_info !== 'single' ? `Sezione: ${doc.chunk_info}` : ''}\n---`;\n}).join('\\n');\n\nconst prompt = `Contesto dai documenti più rilevanti (${topDocuments.length} trovati):\n${context}\n\nDomanda dell'utente: ${originalQuery}\n\nIstruzioni:\n- Rispondi utilizzando SOLO le informazioni del contesto sopra\n- Se le informazioni non sono sufficienti, dillo chiaramente\n- Cita i documenti specifici quando possibile\n- Se trovi informazioni contrastanti, segnalalo`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    original_query: originalQuery,\n    documents_found: topDocuments.length,\n    top_similarity: topDocuments[0]?.similarity || 0,\n    threshold_used: threshold,\n    mode: 'semantic_rag_optimized',\n    documents: topDocuments.map(d => ({\n      title: d.title,\n      similarity: d.similarity,\n      chunk_info: d.chunk_info,\n      content_length: d.doc_length\n    })),\n    debug_info: {\n      query_embedding_length: queryEmbedding?.length,\n      total_documents: documents.length,\n      valid_documents: validDocuments.length,\n      avg_similarity: avgSimilarity,\n      similarity_distribution: {\n        min: Math.min(...similarities),\n        max: Math.max(...similarities),\n        avg: avgSimilarity\n      }\n    }\n  }\n}];"
      },
      "id": "4d3d9665-1b8e-4781-bad1-5f5f64ffa80d",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "position": [
        -2336,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "adc7d802-fa5f-4f3e-b85b-d0011d848306",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": 0
            }
          ]
        },
        "options": {}
      },
      "id": "e87c59e7-1c10-4b2e-9a9d-ff1d267ed72a",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "position": [
        -2640,
        160
      ],
      "typeVersion": 2.2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma3:12b"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "85df7974-e6d2-494a-b3c2-47c43f11944f",
      "name": "HTTP Request3",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1744,
        576
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "77a6d368-97f2-4fd8-b92d-289b5763d1e1",
      "name": "Respond to Webhook5",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -1136,
        560
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "// Risposta diretta senza database\nconst originalQuery = $('Webhook - Interroga AI').first().json.body.message;\n\nconst prompt = `L'utente ha fatto questa domanda: ${originalQuery}\n\nNon ho trovato informazioni specifiche nei miei documenti. Rispondi comunque alla domanda utilizzando le tue conoscenze generali, ma specifica chiaramente che stai rispondendo senza accesso a documenti specifici.`;\n\nreturn [{\n  json: {\n    prompt: prompt,\n    original_query: originalQuery,\n    mode: 'direct'\n  }\n}];"
      },
      "id": "1c0230d8-b347-4797-a1b9-fdf0613c4798",
      "name": "Code5",
      "type": "n8n-nodes-base.code",
      "position": [
        -2224,
        544
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "return $json.body"
      },
      "id": "f84454a1-07c2-436e-a5c8-47fb6b980e47",
      "name": "Filtra body",
      "type": "n8n-nodes-base.code",
      "position": [
        -3808,
        -672
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "42f69d1e-3478-4dc0-b072-935c0db4cce3",
      "name": "Cicla i documenti",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -3504,
        -704
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-document",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1f40cd2a-47fe-4c0e-b63f-2b2bfdd44e8e",
      "name": "Webhook - Insert Documenti",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -4016,
        -672
      ],
      "webhookId": "5cbab2ad-47ad-4f49-a204-78bc6edc1e25",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "9cb3dbf0-6c19-4dcd-b9e5-a34303a9f7f4",
      "name": "Webhook - Interroga AI",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -3984,
        304
      ],
      "webhookId": "c89064c7-b3be-4f59-b655-064908786e2e",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Documento aggiunto con embedding\",\n  \"document_id\": \"{{ $json.insertId }}\"\n}",
        "options": {}
      },
      "id": "6f4dc84a-8426-4ce9-87cc-d43a92f530b5",
      "name": "Webhook - Operazione completata",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -2016,
        -720
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "jsCode": "\nreturn $input.first().json.body;"
      },
      "id": "9d549cff-1529-493a-a14e-587f0b44f794",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "position": [
        -3776,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3.2:3b"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "temperature",
              "value": "={{ \"0.7\" }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c8800890-a60c-48a9-ad06-788c24fe2cb8",
      "name": "AI Model llama3.2:3b",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1712,
        -96
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma3:12b"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "temperature",
              "value": "={{ \"0.7\" }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9ccb1d5-2ba6-4abe-9d6d-90fae2837953",
      "name": "AI model gemma3:12b",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1712,
        -304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT gemma.model as gemma_model, gemma.response  as gemma_response, llama.model as llama_model, llama.response as llama_response from input1 as gemma inner join input2 as llama",
        "options": {}
      },
      "id": "c3de5285-0151-4062-b79d-15f224e208d6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        -1520,
        -160
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "jsCode": "// Funzione per dividere documenti lunghi in chunks semantici\nfunction intelligentChunking(title, content, maxChunkSize = 1000, overlap = 200) {\n  if (content.length <= maxChunkSize) {\n    return [{\n      title: title,\n      content: content,\n      chunk_index: 0,\n      total_chunks: 1,\n      is_chunked: false\n    }];\n  }\n\n  const chunks = [];\n  const sentences = content.split(/[.!?]+/).filter(s => s.trim().length > 0);\n  \n  let currentChunk = '';\n  let chunkIndex = 0;\n  \n  for (let i = 0; i < sentences.length; i++) {\n    const sentence = sentences[i].trim() + '.';\n    \n    // Se aggiungendo questa frase superiamo la dimensione massima\n    if (currentChunk.length + sentence.length > maxChunkSize && currentChunk.length > 0) {\n      // Salva il chunk corrente\n      chunks.push({\n        title: `${title} - Parte ${chunkIndex + 1}`,\n        content: currentChunk.trim(),\n        chunk_index: chunkIndex,\n        total_chunks: 0, // Sarà aggiornato dopo\n        is_chunked: true,\n        original_title: title\n      });\n      \n      // Inizia nuovo chunk con overlap\n      const overlapText = getOverlapText(currentChunk, overlap);\n      currentChunk = overlapText + sentence;\n      chunkIndex++;\n    } else {\n      currentChunk += ' ' + sentence;\n    }\n  }\n  \n  // Aggiungi l'ultimo chunk se non vuoto\n  if (currentChunk.trim().length > 0) {\n    chunks.push({\n      title: `${title} - Parte ${chunkIndex + 1}`,\n      content: currentChunk.trim(),\n      chunk_index: chunkIndex,\n      total_chunks: 0,\n      is_chunked: true,\n      original_title: title\n    });\n  }\n  \n  // Aggiorna total_chunks\n  chunks.forEach(chunk => chunk.total_chunks = chunks.length);\n  \n  return chunks;\n}\n\nfunction getOverlapText(text, overlapSize) {\n  if (text.length <= overlapSize) return text;\n  \n  // Trova l'ultimo punto prima della dimensione overlap\n  const overlapText = text.slice(-overlapSize);\n  const lastPeriod = overlapText.lastIndexOf('.');\n  \n  if (lastPeriod > overlapSize / 2) {\n    return overlapText.slice(lastPeriod + 1).trim() + ' ';\n  }\n  \n  return overlapText + ' ';\n}\n\n// Modifica per il tuo workflow n8n - da usare prima dell'embedding\nconst input = $input.first().json;\nconst chunks = intelligentChunking(input.title, input.content);\n\n// Restituisci tutti i chunks per processarli individualmente\nreturn chunks.map(chunk => ({ json: chunk }));"
      },
      "id": "833d7b26-0b9a-45fb-8a27-d5822f437cb2",
      "name": "Chunking",
      "type": "n8n-nodes-base.code",
      "position": [
        -3296,
        -608
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id,\n       title,\n       content,\n       chunk_index,\n       total_chunks,\n       embedding_vector -> 'vector' AS stored_embedding\nFROM documents\nORDER BY title, chunk_index;\n",
        "options": {}
      },
      "id": "0ce29f4c-9732-4198-98a9-5723e00e7045",
      "name": "Postgres - Query Embedding",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3088,
        304
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "cQV6QcnE3hUHoAvE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "documents",
          "cachedResultName": "documents"
        },
        "columns": {
          "value": {
            "is_chunked": false
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "original_title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "original_title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "category",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "model",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding_vector",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "embedding_vector",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "chunk_index",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "chunk_index",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "total_chunks",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "total_chunks",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "is_chunked",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "is_chunked",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "file_name",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "file_name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "file_path",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "file_path",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "mime_type",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "mime_type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "language",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "doc_length",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "doc_length",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "type": "object",
              "display": true,
              "required": false,
              "displayName": "metadata",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "created_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "updated_at",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c0a0a3b9-c861-4b31-b9f2-d60d071f6be9",
      "name": "Postgres - Inserimento embeddings",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -2464,
        -496
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "cQV6QcnE3hUHoAvE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo: Javascript - Preparazioni dati (versione che usa metadata JSON)\nconst embeddingsResponses = $input.all();\nconst originalChunks = $('Chunking').all().map(i => i.json);\n\nconst nEmb = embeddingsResponses.length;\nconst nChunks = originalChunks.length;\nconst n = Math.min(nEmb, nChunks);\n\nif (n === 0) {\n  return [{\n    json: {\n      error: 'Nessun embedding o nessun chunk trovato',\n      embeddings_received: nEmb,\n      chunks_found: nChunks\n    }\n  }];\n}\n\nconst out = [];\n\nfor (let i = 0; i < n; i++) {\n  const embItem = embeddingsResponses[i].json || {};\n  const chunk = originalChunks[i] || {};\n\n  const vector =\n    embItem.embedding ||\n    embItem.data?.[0]?.embedding ||\n    embItem.body?.embedding ||\n    embItem.embeddings ||\n    embItem.result?.embedding ||\n    null;\n\n  const embedding_present = Array.isArray(vector) && vector.length > 0;\n\n  // Costruiamo il campo metadata come JSON string (compatibile con colonna JSON)\n  const metadataObj = {\n    debug: {\n      embedding_found: embedding_present,\n      embedding_length: Array.isArray(vector) ? vector.length : 0,\n      index: i,\n      embeddings_received: nEmb,\n      chunks_found: nChunks\n    }\n    // puoi aggiungere altri campi utili qui\n  };\n\n  out.push({\n    json: {\n      title: chunk.title || chunk.original_title || embItem.title || 'untitled',\n      original_title: chunk.original_title || chunk.title || null,\n      content: chunk.content || embItem.content || null,\n      category: chunk.category || 'generale',\n      model: 'nomic-embed-text',\n      chunk_index: typeof chunk.chunk_index !== 'undefined' ? chunk.chunk_index : null,\n      total_chunks: typeof chunk.total_chunks !== 'undefined' ? chunk.total_chunks : null,\n      is_chunked: chunk.is_chunked ? true : false,\n      embedding_vector: {\n        vector: embedding_present ? vector : null,\n        model: 'nomic-embed-text',\n        created_at: new Date().toISOString()\n      },\n      metadata: metadataObj\n    }\n  });\n}\n\n// se mismatch, aggiungiamo un avviso (non necessario per l'inserimento)\nif (nEmb !== nChunks) {\n  out.unshift({\n    json: {\n      warning: 'Mismatch tra numero di embeddings e numero di chunk originali',\n      embeddings_received: nEmb,\n      chunks_found: nChunks,\n      used_items: n\n    }\n  });\n}\n\nreturn out;\n"
      },
      "id": "9c5715a9-1023-4c02-992c-6a498efbbc8a",
      "name": "Javascript - Preparazioni dati",
      "type": "n8n-nodes-base.code",
      "position": [
        -2768,
        -576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"prompt\": \"{{$json.title}} {{$json.content}}\",\n  \"metadata\": {\n    \"title\": \"{{$json.title}}\",\n    \"content\": \"{{$json.content}}\"\n  }\n}",
        "options": {}
      },
      "id": "11517397-761a-4860-b7e8-ba0dc6325562",
      "name": "Ollama - Embedding Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3024,
        -576
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma3:27b"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "temperature",
              "value": "={{ \"0.7\" }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "57f607cc-e821-4b17-9638-15519ad4ebcb",
      "name": "AI model gemma3:27b",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1712,
        128
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add_excel",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "=Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "b30aaef2-ff97-4626-bb4e-28b5fe3e49c8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -2016,
        0
      ],
      "webhookId": "48e360e3-bd18-449a-817d-3d056dee3a1c",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add_excel",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "a7797385-9bea-4b9a-a1b5-06bcda3756d8",
      "name": "WebHook - Insert Excel",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -4176,
        -336
      ],
      "webhookId": "6e7dbbf2-96d7-4587-9455-de62cb1f30eb",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Dati inseriti correttamente\",\n  \"records_inserted\": {{ $('Insert Excel in a table').itemMatching(0).$itemIndex + 1 }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "3b0188c9-3083-4103-b3fe-5421557215c1",
      "name": "Respond Excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -3552,
        -336
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemma3:4b"
            },
            {
              "name": "prompt",
              "value": "={{$json.prompt}}"
            },
            {
              "name": "temperature",
              "value": "={{ \"0.7\" }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "id": "68fa9862-48fc-4037-ac5a-2aa73a738e01",
      "name": "AI gemma3:12b1 - Read Excel",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -3456,
        -96
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f07d2353-18f6-4eb7-8468-035221de43e1",
              "name": "response",
              "type": "string",
              "value": "={{ $json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5435ca37-1d8d-4f3e-87e7-57bbe0528450",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        -3216,
        -96
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "// Parse del singolo oggetto JSON che arriva dal webhook\nconst inputItem = $input.first(); // Prende il primo (e unico) item\nconst results = [];\n\n// Log per debugging - i dati sono dentro body\nconsole.log('Dati ricevuti dal webhook:', JSON.stringify(inputItem.json.body, null, 2));\n\n// Estrai i campi dal body dell'oggetto ricevuto\nconst title = inputItem.json.body.title || '';\nconst domanda = inputItem.json.body.domanda || '';\nconst contentStr = inputItem.json.body.content || '[]';\n\nconsole.log('Title:', title);\nconsole.log('Domanda:', domanda);\nconsole.log('Content (lunghezza):', contentStr.length);\n\n// Parse del JSON content che contiene l'array dei corsi\nlet courses = [];\ntry {\n  courses = JSON.parse(contentStr);\n  console.log('Parsing riuscito, numero di corsi:', courses.length);\n} catch (e) {\n  console.error('Errore parsing JSON:', e);\n  console.error('Primi 500 caratteri del content:', contentStr.substring(0, 500));\n  return [];\n}\n\n// Se non ci sono corsi, restituisci array vuoto\nif (!courses || courses.length === 0) {\n  console.log('Nessun corso da processare');\n  return [];\n}\n\n// Log del primo corso per verificare la struttura\nconsole.log('Primo corso ricevuto:', JSON.stringify(courses[0], null, 2));\nconsole.log('Campi disponibili nel primo corso:', Object.keys(courses[0]));\n\n// Crea un record per ogni corso\nfor (let i = 0; i < courses.length; i++) {\n  const course = courses[i];\n  \n  // Log ogni 100 corsi per monitorare il progresso\n  if (i % 100 === 0) {\n    console.log(`Processando corso ${i + 1}/${courses.length}`);\n  }\n  \n  const recordData = {\n    // Campi dal tuo Excel (come li vedo nei dati di esempio)\n    codice_corso: course.codice || null,\n    descrizione_estesa__: course.descrizione_estesa || null,\n    descrizione_abbreviata__: course.descrizione_abbreviata || null,\n    \n    // Campi aggiuntivi presenti nei dati\n    denominazione_attuale_corso: course.denominazione_corso || null,\n    area_formazione: course.area_formazione || null,\n    settore_formazione: course.settore_formazione || null,\n    tipo_corso: course.tipo_corso || null,\n    \n    // Campi di default per le colonne mancanti nella tabella\n    data_istituzione: null,\n    motivo_istituzione: null,\n    sospeso_soppresso: false,\n    data_soppressione: null,\n    motivo_soppressione: null,\n    denominazione_titolo: null,\n    codice___titolo: null,\n    brevetto_associato_corso: null,\n    ente_programmatore: null,\n    ente_erogatore: null,\n    durata_gg_add: null,\n    frequentatori: null,\n    job_description: null,\n    posizione_prevista: null,\n    modalita_selezione: null,\n    presente_in_n8: false,\n    parole_chiave: null,\n    corso_da_bonificare: false,\n    corso_da_lasciare: false,\n    corso_da_aggiungere: true, // Indica che è un nuovo corso caricato\n    codici___associati: null\n  };\n  \n  // Aggiungi il record alla lista risultati\n  results.push({\n    json: recordData\n  });\n}\n\nconsole.log(`Totale record preparati per PostgreSQL: ${results.length}`);\n\n// Log dei primi 2 record per verificare la struttura\nif (results.length > 0) {\n  console.log('Primo record preparato (campi principali):');\n  console.log('- codice_corso:', results[0].json.codice_corso);\n  console.log('- descrizione_estesa__:', results[0].json.descrizione_estesa__);\n  console.log('- descrizione_abbreviata__:', results[0].json.descrizione_abbreviata__);\n}\n\n// Restituisci tutti i record\nreturn results;"
      },
      "id": "671a58a0-1f89-4203-86e7-c7b00b7b2e85",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "position": [
        -3968,
        -336
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "corsi",
          "cachedResultName": "corsi"
        },
        "columns": {
          "value": {
            "presente_in_n8": false,
            "corso_da_lasciare": false,
            "sospeso_soppresso": false,
            "corso_da_aggiungere": false,
            "corso_da_bonificare": false
          },
          "schema": [
            {
              "id": "id",
              "type": "number",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "id",
              "defaultMatch": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "codice_corso",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "codice_corso",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "denominazione_attuale_corso",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "denominazione_attuale_corso",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "descrizione_abbreviata__",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "descrizione_abbreviata__",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "descrizione_estesa__",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "descrizione_estesa__",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "data_istituzione",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "data_istituzione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_istituzione",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "motivo_istituzione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "sospeso_soppresso",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "sospeso_soppresso",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "data_soppressione",
              "type": "dateTime",
              "display": true,
              "required": false,
              "displayName": "data_soppressione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "motivo_soppressione",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "motivo_soppressione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "area_formazione",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "area_formazione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "settore_formazione",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "settore_formazione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_corso",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "tipo_corso",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "denominazione_titolo",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "denominazione_titolo",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "codice___titolo",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "codice___titolo",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "brevetto_associato_corso",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "brevetto_associato_corso",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ente_programmatore",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ente_programmatore",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "ente_erogatore",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "ente_erogatore",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "durata_gg_add",
              "type": "number",
              "display": true,
              "required": false,
              "displayName": "durata_gg_add",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "frequentatori",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "frequentatori",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "job_description",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "job_description",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "posizione_prevista",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "posizione_prevista",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "modalita_selezione",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "modalita_selezione",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "presente_in_n8",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "presente_in_n8",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "parole_chiave",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "parole_chiave",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "corso_da_bonificare",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "corso_da_bonificare",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "corso_da_lasciare",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "corso_da_lasciare",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "corso_da_aggiungere",
              "type": "boolean",
              "display": true,
              "required": false,
              "displayName": "corso_da_aggiungere",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "codici___associati",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "codici___associati",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2553284a-6ae5-4b89-9e34-bcd0f3f5f7f5",
      "name": "Insert Excel in a table",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3760,
        -336
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "cQV6QcnE3hUHoAvE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "corsi",
          "cachedResultName": "corsi"
        },
        "limit": 500,
        "options": {}
      },
      "id": "0228c728-a794-4b70-973d-ea144ccdc579",
      "name": "Insert Excel in a table1",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -3984,
        -96
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "cQV6QcnE3hUHoAvE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const elenco = $input.all();\n\nconst listaCorsi = elenco.map(item => {\n  const codice = item.json[\"codice_corso\"] ?? '';\n  const descrizione = item.json[\"descrizione_abbreviata__\"] ?? '';\n  return `Codice: ${codice} - Descrizione: ${descrizione}`;\n}).join(\"\\n\");\n\nreturn {\n  json: {\n    prompt: `Mi individui 300 corsi tra quelli che passo nell'elenco:\\n${listaCorsi}`\n  }\n};\n"
      },
      "id": "20936d4d-2c24-48cf-b35f-1da8193791a7",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "position": [
        -3776,
        -96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "1ae2f2a8-9039-493d-9822-746fac17b58d",
      "name": "Respond Get Excel",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -2960,
        -96
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "path": "interroga_corsi",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "df9e72e2-5766-4a95-a357-893012178263",
      "name": "WebHook - Get from Excel",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -4256,
        -96
      ],
      "webhookId": "6e7dbbf2-96d7-4587-9455-de62cb1f30eb",
      "typeVersion": 2.1
    }
  ],
  "pinData": {},
  "connections": {
    "If1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request - Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Insert Excel in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "AI gemma3:12b1 - Read Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI model gemma3:12b",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Chunking": {
      "main": [
        [
          {
            "node": "Ollama - Embedding Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond Get Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtra body": {
      "main": [
        [
          {
            "node": "Cicla i documenti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cicla i documenti": {
      "main": [
        [
          {
            "node": "Webhook - Operazione completata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chunking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI model gemma3:12b": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI model gemma3:27b": {
      "main": [
        []
      ]
    },
    "AI Model llama3.2:3b": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WebHook - Insert Excel": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Interroga AI": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Excel in a table": {
      "main": [
        [
          {
            "node": "Respond Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Excel in a table1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebHook - Get from Excel": {
      "main": [
        [
          {
            "node": "Insert Excel in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Embedding Request": {
      "main": [
        [
          {
            "node": "Javascript - Preparazioni dati",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Query Embedding": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Insert Documenti": {
      "main": [
        [
          {
            "node": "Filtra body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI gemma3:12b1 - Read Excel": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Javascript - Preparazioni dati": {
      "main": [
        [
          {
            "node": "Postgres - Inserimento embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Inserimento embeddings": {
      "main": [
        []
      ]
    },
    "HTTP Request - Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Postgres - Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a85a356-865c-4ed2-9e23-af83469029a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cec5676a8e5ccf12827767452c6dd0bd3490dd15af96b14c073450ba88a3964f"
  },
  "id": "Wb0MWeL4bpOhI6Qa",
  "tags": []
}